Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.9.6
ecdsa==0.11
gevent==1.0.1
greenlet==0.4.5
itsdangerous==0.24
junos-eznc==1.0.2
lxml==3.4.1
ncclient==0.4.2
netaddr==0.7.12
paramiko==1.15.1
pycrypto==2.6.1
redis==2.10.3
scp==0.8.0
wsgiref==0.1.2
